*,*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: auto;
    min-height: 100%;
}
:root{
    --darkBlue2: #001845;
    --hdarkBlue: #001233;
    --darkGray: #33415C;
    --darklevelGray: #5C677D;
    --gray: #7D8597;
    --lightGray: #979DAC;
    --white: #ffffff;
    --red: #FFEF92;
    --txt: #EEA0A0;
    --h1: #FFFBCA;

    /* fondo */
    --nblack: #000000;
    --black: #212529;
    --nviolet: #291528;
    --lightblack: #0a0a0a;
    --bluedarkn: #020214;
    --darkGray2: #343A40;
    --grayN: #495057;
    --lightGrayN: #6C757D;
    --grayN2: #ADB5BD;
    --grayN3: #CED4DA;
    --green: #008000;
    --body: #2e2e2e;
    --skull: #e9d8a6;
    --white_font: #f8f9fa;
}
body{
    /* background-color: var(--lightBlue);
    background-image: linear-gradient(135deg, var(--nblack),var(--black), var(--darkGray2), var(--grayN), var(--lightGrayN), var(--grayN2));*/
    /* background-size: 500%; */
    /*animation: background 8s infinite;*/
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* background-image: url(../img/photo_2023-12-30_15-18-27.jpg);  */
}
header{
    background: url(/assets/img/photo_2023-12-30_15-18-34.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 559px;
    border-left: 3px solid var(--nblack);
    border-right: 3px solid var(--nblack);
}
img {
    max-width: 100%;
}
.hlogo{
    display: flex;
    height: 140px;
    background-color: var(--nblack);
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.img-logo {
    position: a;
}
.h1{
    font-family: 'Nosifer', sans-serif;
    color: var(--red);
    /* text-shadow: 2px 2px 1px var(--white); */
}
.span{
    font-size: 2rem;
    font-family: 'Deathgrin', cursive;
    color: var(--white);
}
.nav{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--nblack);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 21px;
    flex-direction: column;
    box-shadow: 5px 0 5px 0 var(--white);
    z-index: 3;
}
@media (min-width:768px){
    .nav {
        flex-direction: row;
    }
}
.nh {
    background-color: #444413;
}
.nh:hover{
    color: #444413;
    background-color: var(--white);
}
.nav a{
    background-color: var(--red);
    color: var(--nblack);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}
@keyframes background{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 30%;
    }
}
.img-body {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}
.m-body{
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--nblack);
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px;
    margin: 0 auto;
    /* margin-bottom: 60px; */
    overflow: hidden;
    box-shadow: 1px 0px 20px 0px rgba(255,255,255,1);
}
@media screen and (max-width:768px) {
    .body {
        border: 8px solid var(--red);
        width: 500px;
        height: 500px;
        border-radius: 20px 20px;
        margin: 0 auto;
        /* margin-bottom: 60px; */
        overflow: hidden;
        box-shadow: 1px 0px 20px 0px rgba(255,255,255,1);
    }
}
.music{
    /* width: 37.1%; */
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.sec1 {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    background-color: var(--nblack);
    border-radius: 20px;
}
.sec1-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--white);
}
.sec1-p {
    background-color: var(--nblack);
    color: var(--white_font);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding:  0 8px;
}
.sec2 {
    width: 500px;
    margin: auto;
    background-color: var(--nblack);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
}
.sec2-p {
    color: var(--white_font);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding:  0 8px;
}
.album-img {
    margin-bottom: 220px;
}
.album-font {
    border: 3px solid var(--white);
    width: 70%;
    margin: auto;
}
.self1 {
    width: 20%;
    height: 200px;
    float: left;
    margin-left: 230px;
    border: 1px solid var(--white);
    border-top: 100px;
    border-left: 50px;
    border-radius: 60%;
    opacity: 0.8;
}
.self2 {
    width: 20%;
    height: 200px;
    float: right;
    margin-right: 230px;
    border: 1px solid var(--white);
    border-radius: 60%;
    opacity: 0.8;
}
.album-img2 {
    display: flex;
    justify-content: center;
}
.self3 {
    width: 20%;
    height: 200px;
    float: left;
    margin-left: 5px;
    border: 1px solid var(--white);
    border-radius: 60%;
    opacity: 0.8;
}
.self:hover {
    opacity: 1;
}

.row img {
    width: 100%;
}
.row {
    display: flex;
    padding: 8px;
}
.column {
    flex: 25%;
    padding: 8px;
}
.column img {
    margin-top: 5px;
}




.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon1 {
    width: 100px;
    height: 100px;
    color: var(--black);
    gap: 20px;
    text-align: center;
}
.icon2 {
    width: 100px;
    height: 100px;
    color: var(--black);
    row-gap: 100px;
    gap: 20px;
    text-align: center;
}
.icon3{
    width: 100px;
    height: 100px;
    color: var(--black);
    gap: 20px;
    text-align: center;
}
.list{
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
    padding: 30px 0;
    padding-bottom: 30px;
    background-size: cover;
    width: 30%;
    margin: 80px auto auto auto;
    margin-bottom: 30px;
}
.hicons {
    vertical-align: text-bottom;
    color: var(--nblack);
}
.hul{
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    padding: 5px;
    color: var(--nblack);
}
.hh {
    text-decoration: underline;
    color: var(--nblack);
}
.ol{
    padding-top: 20px;
    list-style: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 20px;
    line-height: 2;
}
.sec4{
    text-align: center;
    width: 600px;
    margin: auto;
}
.sec5{
    text-align: center;
}
.map{
    width:400px;
    height:300px;
    border-style: 0;
    border: 2px solid var(--nblack);
    border-radius: 15px;
}
.contact-form{
    position: relative;
    bottom: 270px;
    left: 80%;
    background-color: var(--nblack);
    border-radius: 30%;
    opacity: 0.9;
    width: 16%;
    padding: 20px 20px;
}
.contact-icon {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: var(--skull);
}
.contact-button {
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.contact-button:hover {
    color: var(--red);
}
.fot{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:   var(--lightblack);
    color: var(--white);
}
.linef{
    border-top: 2px solid var(--nblack);
    padding-top: 15px;
}
.fot-icons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fot-icons a{
    background-color: var(--white);
    border-radius: 15px;
    margin: 3px;
    color: var(--nblack);
}
.fot-icons a:hover{
    transition: 0.5s;
    background-color: #444413;
}
.textf2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pfot{
    padding: 20px 0;
    background-color: var(--nblack);
}

.h2-me, .me {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.me {
    border: 1px solid var(--black);
    line-height: 30px;
    background-color: var(--black);
}
/* Sobre Mí */
.sm-font{
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 30%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border: 3px solid var(--white);
    padding-top: 30px;
}
.sm-h2 {
    text-align: center;
    padding-bottom: 15px;
    color: var(--nblack);
}
.sm-strong{
    color: var(--nblack)
}
.sm-header {
    gap: 500px;
    margin: auto;
    margin-bottom: 50px;
}
.sm-txt-leng {
    max-width: 100%;
    text-align: center;
    color: var(--nblack);
}
.sm-sep{
    margin-bottom: 5px;
}
.sm-img-c {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sm-img {
    border-radius: 50%;
    border: 1px solid var(--red);
    max-width: 35%;
}
.sm-txt-style {
    text-align: center;
    font-weight: lighter;
    font-family: 'Sevillana', cursive;
    color: var(--nblack);
    /* max-width: 30%; */
    margin: auto;
    padding-bottom: 8px;
}


/*.*/
.img-contain {
    margin: 50px 0 50px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    border-radius: 20px;
}
.img:hover {
    opacity: 1;
}
/*.*/
