body {
background-color: #001219;
}
.info {
    text-align: center;
    background-color: #005f73;
}
.black {
    color: black;
}
p, h1, h2, h3{
    color: white;
}
th, td{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
th{
    background-color: #0a9396;
    color: #9b2226;
}
tr{
    background-color: #94d2bd;
    color: #ca6702;
}
caption{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
    caption-side: bottom;
}
table{
    margin: 0 auto;
}
#edit{
    text-align: center;
}
.encabezado{
    text-align: center;
}
.css{
    background-color: #94d2bd;
    color: black;
    margin: 0;
    text-align:center;
}
.justi{
    text-align: center;
}
.img-center{
    text-align: center;
}
hr{
    background-color: cadetblue;
}
footer {
    background-color: #005f73;
    margin: 0;
}
.btnCenter{
    text-align: center;
    color: black;
}
button:hover{
    color: skyblue;
}
.spotify {
    width:100%;
    border: 0;
}
.color {
    border: 15px solid rgba(0, 0, 0, .8);
    background-color: black;
    color: whitesmoke;
    margin: auto 568px;
    border-radius: 100rem;
}
.listas{
    color: white;
}
