*,*::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: auto;
    min-height: 100%;
}
:root{
    --darkBlue2: #001845;
    --hdarkBlue: #001233;
    --darkGray: #33415C;
    --darklevelGray: #5C677D;
    --gray: #7D8597;
    --lightGray: #979DAC;
    --white: #ffffff;
    --red: #FFEF92;
    --txt: #EEA0A0;
    --h1: #FFFBCA;

    /* fondo */
    --nblack: #000000;
    --black: #212529;
    --nviolet: #291528;
    --lightblack: #0a0a0a;
    --bluedarkn: #020214;
    --darkGray2: #343A40;
    --grayN: #495057;
    --lightGrayN: #6C757D;
    --grayN2: #ADB5BD;
    --grayN3: #CED4DA;
    --green: #008000;
    --body: #2e2e2e;
    --skull: #e9d8a6;
    --white_font: #f8f9fa;

    /* Albúm */
    --card_width: 250px;
    --card_border_radius: 16px;
    --row_increment: 10px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;

}
body{
    /* background-color: var(--lightBlue);
    background-image: linear-gradient(135deg, var(--nblack),var(--black), var(--darkGray2), var(--grayN), var(--lightGrayN), var(--grayN2));*/
    /* background-size: 500%; */
    /*animation: background 8s infinite;*/
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* background-image: url(../img/photo_2023-12-30_15-18-27.jpg);  */
}
header{
    background: url(/assets/img/photo_2023-12-30_15-18-34.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 559px;
    border-left: 3px solid var(--nblack);
    border-right: 3px solid var(--nblack);
}
img {
    max-width: 100%;
}
.hlogo{
    display: flex;
    height: 140px;
    background-color: var(--nblack);
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.img-logo {
    position: a;
}
.h1{
    font-family: "Rubik Glitch", system-ui;
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}
.span{
    font-size: 2rem;
    font-family: 'Deathgrin', cursive;
    color: var(--white);
    margin-top: 45px;
}
.nav{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--nblack);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 21px;
    flex-direction: column;
    box-shadow: 5px 0 5px 0 var(--white);
    z-index: 3;
}
.nh {
    background-color: #444413;
}
.nh:hover{
    color: #444413;
    background-color: var(--white);
}
.nav a{
    background-color: var(--red);
    color: var(--nblack);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}
.img-body {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}
.m-body{
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--nblack);
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px;
    margin: 0 auto;
    /* margin-bottom: 60px; */
    overflow: hidden;
    box-shadow: 1px 0px 20px 0px rgba(255,255,255,1);
}
.banner {
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-weight: bold;
}
.gradientText{
    display: inline-block;
    background: var(--nblack);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.job{
    display: inline-block;
}
.job::before {
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate,
    changeText 4s linear infinite;
}
@keyframes effectText {
    from{
        max-width: 0;
    }to{
        max-width: 500px;
    }
}
@keyframes changeText {
    from{
        content: attr(data-job1);
    }to{
        content: attr(data-job2);
    }
}

.viñeta {
    color: #1D3C5D;
}

.music{
    /* width: 37.1%; */
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
@media (max-width:768px){
    .music {
        width: 80%;
    }
}


.sec1 {
    width: 537px;
    margin: auto;
    margin-top: 30px;
    color: var(--nblack);
    border-radius: 3em 1em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.261);
    padding-bottom: 30px;
}
.sec1-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--nblack);
}
.sec1-p {
    color: var(--nblack);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding:  0 8px;
}
.h-tecnic {
    text-align: center;
    
}













.sec2 {
    width: 537px;
    margin: auto;
    color: var(--nblack);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 20px;
}
.sec2-p {
    color: var(--nblack);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding:  0 8px;
}











/* Habilidades técnicas */
.bxl-html5{
    width: 200px;
    margin: auto;
}























.list{
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.261);
    border-radius: 15px;
    padding: 20px 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.hicons {
    vertical-align: text-bottom;
    color: #444413;
}
.hul{
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    padding: 5px;
    color: var(--nblack);
}





.project {
    /* border: 1px solid var(--nblack); */
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.261);
    margin-bottom: 50px;
}
.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}
.listProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.listProject .item {
    text-align: center;
    box-shadow: var(--nblack);
    padding: 10px;
}
.listProject .item img {
    width: 80%;
    height: 80%;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.listProject .item img:hover { 
    width: 70%;
    opacity: 0.5;
}
/* .img_project1 {
    width: 350px;
    height: 350px;
}
.img_project2 {
    width: 350px;
    height: 350px;
} */





.ol{
    padding-top: 20px;
    list-style: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 20px;
    line-height: 2;
}
.sec4{
    text-align: center;
    width: 600px;
    margin: auto;
}
.sec5{
    text-align: center;
}
.map{
    width:400px;
    height:300px;
    border-style: 0;
    border: 2px solid var(--nblack);
    border-radius: 15px;
}
.contact-form{
    position: relative;
    bottom: 270px;
    left: 80%;
    background-color: var(--nblack);
    border-radius: 30%;
    opacity: 0.9;
    width: 16%;
    padding: 20px 20px;
}
.contact-icon {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: var(--skull);
}
.contact-button {
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.contact-button:hover {
    color: var(--red);
}
.fot{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:   var(--lightblack);
    color: var(--white);
}
.linef{
    border-top: 2px solid var(--nblack);
    padding-top: 15px;
}
.fot-icons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fot-icons a{
    background-color: var(--white);
    border-radius: 15px;
    margin: 3px;
    color: var(--nblack);
}
.fot-icons a:hover{
    transition: 0.5s;
    background-color: #444413;
}
.textf2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pfot{
    padding: 20px 0;
    background-color: var(--nblack);
}

.h2-me, .me {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.me {
    border: 1px solid var(--black);
    line-height: 30px;
    background-color: var(--black);
}
/* Sobre Mí */
.sm-font{
    max-width: 60%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 30%;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border: 3px solid var(--white);
    padding-top: 30px;
}
.sm-h2 {
    text-align: center;
    padding-bottom: 15px;
    color: var(--nblack);
}
.sm-strong{
    color: var(--nblack)
}
.sm-header {
    gap: 500px;
    margin: auto;
    margin-bottom: 50px;
}
.sm-txt-leng {
    max-width: 100%;
    text-align: center;
    color: var(--nblack);
}
.sm-sep{
    margin-bottom: 5px;
}
.sm-img-c {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sm-img {
    border-radius: 50%;
    border: 1px solid var(--red);
    max-width: 35%;
}
.sm-txt-style {
    text-align: center;
    font-weight: lighter;
    font-family: "Great Vibes", cursive;
    color: var(--nblack);
    /* max-width: 30%; */
    margin: auto;
    padding-bottom: 8px;
}




/*.*/
.img-contain {
    margin: 50px 0 50px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.img {
    width: 20%;
    height: 20%;
    opacity: 0.5;
    border-radius: 20px;
}
.img:hover {
    opacity: 1;
}
/*.*/



/* Responsive */
@media (min-width:768px){
    .nav {
        flex-direction: row;
    }
}




@media (max-width:1024px){
    .banner{
        grid-template-columns: 40% 60%;
    }
    .listProject {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:767px){
    .banner{
        grid-template-columns: 1fr;
    }
    .listProject{
        grid-template-columns: 1fr;
    }
    .list {
        width: 100%;
    }
    .sec1 {
        width: 100%;
    }
}

