*,*::before,::after{
    box-sizing: border-box;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    max-width: 100%;
    color: var(--white);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --darkBlue2: #001845;
    --hdarkBlue: #001233;
    --darkGray: #33415C;
    --darklevelGray: #5C677D;
    --gray: #7D8597;
    --lightGray: #979DAC;
    --white: white;
    --red: #d62828;
    --h1: #6b2c39;

    /* fondo */
    --nblack: #000000;
    --black: #212529;
    --nviolet: #291528;
    --lightblack: #0a0a0a;
    --bluedarkn: #020214;
    --darkGray2: #343A40;
    --grayN: #495057;
    --lightGrayN: #6C757D;
    --grayN2: #ADB5BD;
    --grayN3: #CED4DA;
    --green: #008000;
    --body: #2e2e2e;
}
body{
    /* background-color: var(--lightBlue);
    background-image: linear-gradient(135deg, var(--nblack),var(--black), var(--darkGray2), var(--grayN), var(--lightGrayN), var(--grayN2));*/
    /* background-size: 500%; */
    /*animation: background 8s infinite;*/
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    /* background-image: url(../img/photo_2023-12-30_15-18-27.jpg);  */
    background-color: var(--body);
}
header{
    background: url(/assets/img/photo_2023-12-30_15-18-34.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 559px;
    border-left: 3px solid var(--nblack);
    border-right: 3px solid var(--nblack);
}
img {
    max-width: 100%;
}
.body{
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid var(--red);
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px;
    margin: 0 auto;
    /* margin-bottom: 60px; */
    overflow: hidden;
    box-shadow: 1px 0px 20px 0px rgba(255,255,255,1);
}
@media screen and (max-width:768px) {
    .body {
        border: 8px solid var(--red);
        width: 500px;
        height: 500px;
        border-radius: 20px 20px;
        margin: 0 auto;
        /* margin-bottom: 60px; */
        overflow: hidden;
        box-shadow: 1px 0px 20px 0px rgba(255,255,255,1);
    }
}
.music{
    margin-left: 50px;
    /* width: 37.1%; */
    width: 28%;
    height: 9em;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.9;
    border-radius: 0%;
}
.font {
    border: 2px solid black;
    /* margin: 40px 60px 0 60px; */
    margin: 1px 200px;
    background-color: var(--nblack);
    padding: 50px;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 0px 0px 30px 1px rgba(255,255,255,1);
}
@media (min-width:480px){
    .font {
        display: flex;
    }
}
.hlogo{
    display: flex;
    height: 140px;
    background-color: var(--nblack);
    justify-content: center;
    padding: 10px;
    margin: 0;
}
.img-logo {
    position: a;
}
.h1{
    font-family: 'Nosifer', sans-serif;
    color: var(--red);
    text-shadow: 1px 1px 10px var(--h1);
}
.span{
    font-size: 2rem;
    font-family: 'Deathgrin', cursive;
    color: var();
}
@keyframes background{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 30%;
    }
}
.nav{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--nblack);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 21px;
    flex-direction: column;
    box-shadow: 5px 0 5px 0 var(--red);
    z-index: 1;
}
@media (min-width:768px){
    .nav {
        flex-direction: row;
    }
}
.nh:hover{
    color: var(--nblack);
    background-color: var(--white);
}
.nav a{
    background-color: var(--red);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}
.sec1{
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
}
.p-center0{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.p-center01{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 40px;
    background-image: url(../img/photo_2023-12-29_21-30-44.jpg);
    background-size: cover;
    line-height: 2;
}
.sec2{
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.p-center02{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.p-center2{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 40px;
    background-image: url(../img/photo_2023-12-29_21-30-44.jpg);
    background-size: cover;
    line-height: 2;
}
.sec3{
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px 0;
    background-size: cover;
}
.p-center03{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.p-center3{
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--white);
    border-radius: 15px;
    padding: 30px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 40px;
    background-image: url(../img/photo_2023-12-29_21-30-44.jpg);
    background-size: cover;
    background-size: cover;
    object-fit: cover;
    line-height: 2;
}
.img-sec3{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icons{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    width: 430px;
    height: 350px;
    border: 2px solid;
    border-radius: 15px;
    background-image: url(../img/photo_2023-12-29_21-30-44.jpg);
    background-size: cover;
    margin-bottom: 30px;
    gap: 5px;
}
.i-header{
    width: 100px;
    height: 80px;
    color: var(--nblack);
}
.i-leng{
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 20px;
}
.i-leng:hover{
    background-color: var(--nviolet);
    color: var(--nblack);
}
.list{
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    background-color: var(--nblack);
    color: var(--nblack);
    border-radius: 15px;
    padding: 30px 0;
    padding-bottom: 30px;
    background-image: url(../img/photo_2023-12-29_21-30-44.jpg);
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hicons {
    vertical-align: text-bottom;
    color: var(--white);
}
.hul{
    font-weight: bold;;
}
.ol{
    padding-top: 20px;
    list-style: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 20px;
    line-height: 2;
}
.sec3{
    text-align: center;
    margin-bottom: 20px;
}
.sec4{
    text-align: center;
    width: 600px;
    margin: auto;
}
.sec5{
    text-align: center;
}
.map{
    width:400px;
    height:300px;
    border-style: 0;
    border: 2px solid var(--green);
    border-radius: 15px;
}
.form{
    text-align: center;
    width: min(400px, 100%);
    margin: auto;
    background-image: url(../img/photo_2023-12-29_21-30-49.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    padding-top: 10px;
}
.form fieldset{
    border-radius: 0 0 50px 50px;
}
.formtext{ 
    color: var(--red);
    font-weight: bold;

}
.input-txt{
    width: 60%;
}
.input-txt-m{
    width: 90%;
    padding: 0;
    margin: 0;
}
.formtext-j{
    color: var(--red);
    display: flex;
    padding-left: 20px;
}
form h2{
    -webkit-text-stroke: 1px var(--nblack);
}
.legend{
    background-color: var(--white);
    border: solid 1px var(--white);
    width: 250px;
    margin: 0 auto;
    color: var(--nblack);
    padding: 10px 14px 4px 14px;
    width: bold;
    margin-top: 2px;
    border-radius: 50px 50px 50px 50px;
}
.field{
    margin-top: 8px;
}
.formlink{
    font-weight: normal;
}
.submit{
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.submit:hover{
color: var(--red);
background-color: var(--nblack);
border-radius: 15px;
box-shadow: 5px 0 5px 0 var(--white);
font-family: 'Nosifer', sans-serif;
cursor: pointer;
}
.fot{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:   var(--lightblack);
    color: var(--white);
}
.linef{
    border-top: 2px solid var(--nblack);
    padding-top: 15px;
}
.fot-icons{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fot-icons a{
    background-color: var(--white);
    border-radius: 15px;
    margin: 3px;
    color: var(--nblack);
}
.fot-icons a:hover{
    transition: 0.5s;
    background-color: var(--red);
}
.textf2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.pfot{
    padding-top: 15px;
    background-color: var(--nblack);
    color: var(--red);
}

.h2-me, .me {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.me {
    border: 1px solid var(--black);
    line-height: 30px;
    background-color: var(--black);
}


