
th, td{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
th{
    background-color: blue;
    color: black;
}
tr{
    background-color: cadetblue;
    color: black;
}
caption{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
    caption-side: bottom;
}
table{
    margin: 0 auto;
}
#edit{
    text-align: center;
}
.encabezado{
    text-align: center;
}
.css{
    background-color: #111111;
    color: white;
}
.justi{
    text-align: justify;
}
.img-center{
    text-align: center;
}
hr{
    background-color: cadetblue;
}
footer {
    background-color: #111111;
    color: white;
}
.btn{
    text-align: center;
}
button:hover {
    color: #00913f;
}